name: Linters
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    env:
      GOPRIVATE: "github.com/dymensionxyz/*"
      GH_ACCESS_TOKEN: "${{ secrets.GH_ACCESS_TOKEN }}"
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.59.1
          only-new-issues: true
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.2.0
        with:
          files: .
          config-file: .markdownlint.yaml
