name: Build and Test
on:
  push:
    tags:
      - v*
    branches:
      - main
    paths:
      - '**/*.go'
      - go.mod
      - go.sum
  pull_request:
    paths:
      - '**/*.go'
      - go.mod
      - go.sum
jobs:
  build:
    runs-on: ["arm-linux"]
    env:
      GOPRIVATE: "github.com/dymensionxyz/*"
      GH_ACCESS_TOKEN: "${{ secrets.GH_ACCESS_TOKEN }}"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      - run: git config --global url.https://$GH_ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - name: Build
        run: go build -v ./...
      - name: Test & Coverage
        run: |
          go install github.com/ory/go-acc@v0.2.6
          go-acc -o coverage.txt ./... -- -v --race
      - uses: codecov/codecov-action@v3
        with:
          file: ./coverage.txt
